{# src/SMO/PlatformBundle/Resources/views/error404.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Annonces</h1>
    
    <hr>
    
    <div class="404">
        {{ message }}
    </div>
{% endblock %}